In [1]:
# import dependencies
import pandas as pd
import os

In [4]:
# load crop_calendar_gaul1.csv to DataFrame
crop_calendar_df = pd.read_csv("Resources/crop_calendar_gaul1.csv")
crop_calendar_df.head(20)

,asap0_id;name0_shr;asap1_id;name1_shr;crop_name;sos_s;sos_e;eos_s;eos_e,Unnamed: 1
0,13;Kyrgyzstan;353;Talas;Wheat (Spring);8;12;28;31,NaN
1,13;Kyrgyzstan;410;Jalal-Abad;Wheat (Spring);8;...,NaN
2,13;Kyrgyzstan;600;Batken;Wheat (Spring);8;11;2...,NaN
3,13;Kyrgyzstan;609;Naryn;Wheat (Spring);10;13;2...,NaN
4,13;Kyrgyzstan;611;Osh;Wheat (Spring);10;13;28;30,NaN
5,13;Kyrgyzstan;612;Ysyk-Kol;Wheat (Spring);10;1...,NaN
6,13;Kyrgyzstan;2392;Chuy;Wheat (Spring);8;12;28;31,NaN
7,20;Bangladesh;626;Rajshahi;Rice (Aman);16;23;2...,NaN
8,20;Bangladesh;626;Rajshahi;Rice (Aus);4;13;16;23,NaN
9,20;Bangladesh;626;Rajshahi;Rice (Boro);35;6;10;15,NaN
10,20;Bangladesh;626;Rajshahi;Sorghum;16;28;33;36,NaN
11,20;Bangladesh;750;Chittagong;Rice (Aman);16;23...,NaN
12,20;Bangladesh;750;Chittagong;Rice (Aus);4;11;1...,NaN
13,20;Bangladesh;750;Chittagong;Rice (Boro);35;6;...,NaN
14,20;Bangladesh;750;Chittagong;Sorghum;16;26;33;36,NaN
15,20;Bangladesh;754;Dhaka;Rice (Aman);16;25;30;36,NaN
16,20;Bangladesh;754;Dhaka;Rice (Aus);4;13;16;22,NaN
17,20;Bangladesh;754;Dhaka;Rice (Boro);1;6;10;15,NaN
18,20;Bangladesh;754;Dhaka;Sorghum;16;27;33;36,NaN
19,20;Bangladesh;755;Khulna;Rice (Aman);14;24;29;36,NaN

Pandas as loaded the data from 'crop_calendar_gaul1.csv' into a single column.

In [5]:
# load rainy_season.csv to DataFrame
rainy_season_df = pd.read_csv("Resources/rainy_season.csv")
rainy_season_df.head(20)

,asap1_id,name1,Unnamed: 2,name1_shr,asap0_id,name0,name0_shr,rs_m_s,rs_m_e,rs2_m_s,rs2_m_e,Unnamed: 11,Unnamed: 12
0,684,Administrative unit not available,NaN,Unit unavailable,73,Abyei,Abyei,NaN,NaN,NaN,NaN,NaN,NaN
1,703,Badakhshan,NaN,Badakhshan,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
2,343,Badghis,NaN,Badghis,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
3,696,Baghlan,NaN,Baghlan,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
4,266,Balkh,NaN,Balkh,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
5,269,Bamyan,NaN,Bamyan,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
6,2339,Daykundi,NaN,Daykundi,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
7,273,Farah,NaN,Farah,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
8,274,Faryab,NaN,Faryab,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
9,278,Ghazni,NaN,Ghazni,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
10,280,Ghor,NaN,Ghor,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
11,402,Hilmand,NaN,Hilmand,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
12,282,Hirat,NaN,Hirat,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
13,283,Jawzjan,NaN,Jawzjan,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
14,284,Kabul,NaN,Kabul,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
15,281,Kandahar,NaN,Kandahar,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
16,705,Kapisa,NaN,Kapisa,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
17,707,Khost,NaN,Khost,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
18,708,Kunar,NaN,Kunar,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
19,709,Kunduz,NaN,Kunduz,67,Afghanistan,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN